.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.message {
  text-align: center;
}

.moreButton {
  display: flex;
  justify-content: center;
}

.loader {
  position: fixed;
  right: 20px;
  bottom: 40px;
}
